bandit==1.6.2
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==3.0.4
config==0.5.0.post0
confusable-homoglyphs==3.2.0
dj-database-url==0.5.0
Django==2.2.8
django-bootstrap3==14.2.0
django-bootstrap4==2.3.1
django-braces==1.14.0
django-crispy-forms==1.9.2
django-heroku==0.3.1
django-model-utils==4.0.0
django-registration==3.1.1
django-star-ratings==0.9.1
gitdb==4.0.5
GitPython==3.1.11
gunicorn==20.0.4
heroku==0.1.4
idna==2.10
pbr==5.5.1
Pillow==8.0.1
psycopg2==2.8.6
python-dateutil==1.5
python-decouple==3.3
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
six==1.15.0
smmap==3.0.4
soupsieve==2.0.1
sqlparse==0.4.1
stevedore==3.2.2
swapper==1.1.2.post1
urllib3==1.25.11
whitenoise==5.2.0
